.own {
  padding: 8px 15px;
 /* margin-bottom: -5%;
  margin-top: 3%;*/
  list-style: none;
  text-align: left;
  border-radius: 4px;
}
.own > li {
  display: inline-block;
}
.own > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}
.own > .active {
  color: #777;
}
.ul, ol {
    margin-top: 70px !important;
    margin-bottom: -108px !important;
}
.donate {
	font-size:20px;
}
.donate_button {
	margin-left: 105px;
}
@media screen and (max-width: 593px) {
    .own {
   display:none;
    }
}